.digits {
  display: flex;
  flex-direction: column;
  margin: 100px 0;
  align-items: center;
}
.section-title {
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  z-index: 2;
}
.section-subtitle {
  width: 60%;
  margin:0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 2;
}
.table {
  width: 1100px;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.table__cell {
  margin-top: 60px;
  width: 250px;
}
  /*Высота строки 1.15, шрифта 24px, начертание шрифта полужирное*/
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;}
/*Высота строки 1.2, размер шрифта 18px, начертание шрифта
нормальное*/
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 20px;
}
