  /*Высота строки 1.15, шрифта 24px, начертание шрифта полужирное*/
  .table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;}
